@keyframes zoomInText {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  80% {
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #fff; }

.main-body {
  max-width: 1040px;
  padding: 0 40px;
  margin: 0 auto; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px;  */
  line-height: 1.7;
  color: #0E171B; }

p {
  font-size: 1.4rem; }

.header-text {
  width: 100%;
  font-size: 3rem;
  letter-spacing: .8rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px rgba(14, 23, 27, 0.2); }
  .header-text > span {
    display: block;
    animation: zoomInText 1s ease-out; }
  .header-text--main {
    color: #2A9D8F; }
  .header-text--sub {
    color: #0E171B; }

.heading-secondary {
  font-size: 2.8rem;
  letter-spacing: .6rem;
  font-weight: 200;
  color: #2A9D8F;
  text-align: center;
  margin-bottom: 5rem; }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: .4rem;
  color: #2A9D8F; }

.story__content {
  font-size: 1.4rem; }

.footer {
  background-color: #999b9b46; }
  .footer__links-container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center; }
  .footer__link-item {
    list-style-type: none;
    margin: 2rem;
    padding: 2rem;
    font-size: 2rem; }
  .footer__link {
    color: #0E171B;
    text-decoration: none; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.header {
  width: 100%;
  height: 80vh;
  position: relative; }
  .header__text-container {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__wizard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 400px; }

.navbar__container {
  background-color: #2A9D8F;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .navbar__container {
      padding: 2rem;
      flex-direction: column; } }

.navbar__heading {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: .5rem;
  color: #fff;
  margin-left: 3rem;
  padding: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .navbar__heading {
      margin: 0; } }

.navbar__item-list {
  height: 100%;
  font-size: 1.8rem;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .navbar__item-list {
      flex-direction: column; } }

.navbar__item {
  list-style-type: none;
  margin-right: 3rem;
  height: 100%;
  padding: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .navbar__item {
      margin: 0; } }

.navbar__item:hover {
  cursor: pointer;
  background-color: #1E7167; }

.projects {
  margin: 0 auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column; }
  .projects__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .projects__row-col-1-of-3 {
      box-shadow: 5px 5px 1.2rem #999b9b46;
      border-radius: 6px;
      margin-bottom: 8rem;
      border-radius: 8px;
      display: flex; }
  .projects__content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; }
  .projects__header {
    text-align: center;
    margin-bottom: 2rem; }
  .projects__image-container {
    width: 50%; }
  .projects__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px; }
  .projects__link-container {
    padding: 1rem;
    background-color: #FDF6ED;
    text-align: center;
    border-radius: 10rem;
    width: 20rem; }
  .projects__link {
    color: #2A9D8F;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase; }

.story > .row {
  background-color: #FDF6ED;
  border-radius: 8px;
  box-shadow: 3px 3px 10px #999b9b46;
  padding: 4rem;
  margin: 0 auto;
  margin-bottom: 8rem;
  display: flex; }
  .story > .row > .col-1-of-2 {
    width: 50%; }

.story__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px; }
