@keyframes zoomInText {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  80% {
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #fff; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px;  */
  line-height: 1.7;
  color: #0E171B; }

.header-text {
  width: 100%;
  font-size: 5.5rem;
  letter-spacing: .8rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px rgba(14, 23, 27, 0.2); }
  .header-text > span {
    display: block;
    animation: zoomInText 1s ease-out; }
  .header-text--main {
    color: #2A9D8F; }
  .header-text--sub {
    color: #0E171B; }

.heading-secondary {
  font-size: 4.5rem;
  letter-spacing: .6rem;
  font-weight: 200;
  color: #2A9D8F;
  text-align: center;
  margin-bottom: 5rem; }

.heading-tertiary {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: .4rem;
  color: #E9C46A; }

.story__content {
  font-size: 1.8rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.header {
  width: 100%;
  height: 100vh;
  position: relative; }
  .header__text-container {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.projects__row {
  display: flex;
  justify-content: space-around; }
  .projects__row-col-1-of-3 {
    background-color: #2A9D8F;
    padding: 3rem 3.5rem;
    border-radius: 8px;
    height: 80rem; }

.projects__header {
  text-align: center;
  margin-bottom: 2rem; }

.projects__pic-container {
  border-radius: 8px;
  overflow: hidden;
  height: 28%; }

.projects__image {
  max-height: 100%;
  max-width: 100%; }

.story {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .story > .row > .col-1-of-2 {
    height: 50rem; }
  .story__pic {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px; }
  .story__content {
    padding-left: 6rem; }
