.story {
    background-color: $color-eggshell;
    border-radius: 8px;
    box-shadow: 3px 3px 10px $color-grey;
    padding: 4rem 0;
    margin: 0 auto;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > .row {

        & > .col-1-of-2 {
            height: 30rem;
        }
    }

    &__pic {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px;
    }

    &__content {
        padding-left: 6rem;
    }

}
