.story {

    & > .row {
        background-color: $color-eggshell;
        border-radius: 8px;
        box-shadow: 3px 3px 10px $color-grey;
        padding: 4rem;
        margin: 0 auto;
        margin-bottom: 8rem;
        display: flex;
        // justify-content: center;

        & > .col-1-of-2 {
            width: 50%;
        }
    }

    &__pic {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    &__content {
        // padding-left: 6rem;
    }

}
