.story {

    &__content-container {
        background-color: $color-eggshell;
        border-radius: 8px;
        box-shadow: 3px 3px 10px $color-grey;
        margin: 0 auto;
        margin-bottom: 8rem;
        display: flex;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__content {
        width: 50%;
        padding: 2rem;

        @include respond(tab-port) {
            width: 60%;
            padding: 1rem;
        }
    }

    &__content.pic {
        border-radius: 8px;
    }

    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content.text-container {
        @include respond(tab-port) {
            width: 100%;
            padding: 1rem;
        }
    }
}
