body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px;  */
  line-height: 1.7;
  color: $color-black;
}

.header-text {
  width: 100%;
  font-size: 5.5rem;
  letter-spacing: .8rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px rgba($color-black, .2);

  & > span {
    display: block;
    animation: zoomInText 1s ease-out;
  }

  &--main {
    color: #2A9D8F;
  }

  &--sub {
    color: $color-black;
  }
}

.story__heading {
  font-size: 4.5rem;
  letter-spacing: .6rem;
  font-weight: 200;
}

.story__content {
  font-size: 2rem;
}